@import "../../App.scss";

.content {
    width: 410px;
    margin: auto;
    border-radius: 10px;
    background-color: $main-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    .input {
        height: 45px;
        margin-bottom: 5px;
        background-color: $second-color;
        padding-left: 10px;
        border-radius: 10px;
        width: 77%;
        border: 0.1em solid gray;
        &:focus {
            border: 0.002em solid rgb(197, 197, 255);
        }
    }
    button {
        width: 80%;
        height: 36px;
        border-radius: 10px;
        border: none;
        background-color: #2d81e0;
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }
}
